<h2>Mechanics

<div class="footer">
    <%= link_to "Add Mechanic", new_mechanic_path %>
</div>

</h2>

<% @mechanics.each do |mechanic| %>
    <p>
        <%= link_to mechanic.name, mechanic_path(mechanic) %>
    </p>
<% end %>

<br>

