/* TO ADD: 
    - color
    - opacity
    - background-image
*/
 
 body {
     font-family: Georgia;
     margin-left: 20px;
     background-color: yellow;
     background-image: url('../images/garage1.jpeg');
 }

 h1, h2, .footer {
     font-family: copperplate;
 }

 h1 {
     font-size: 60px;
     text-align: center;
     border: 3px solid black;
     margin-bottom: 10px;
 }

 h2 {
     font-size: 40px;
 }

 .nav {
     text-align: center;
     margin: 20px;
 }

 .left-nav {
     float: left;
 }

 .right-nav {
     float: right;
 }

 td {
     border: 2px solid black;
 }

 .nav a{
    background: black;
    border: 1px solid black;
    color: white;
    display: inline-block;
    text-decoration: none;
    padding: 14px;
 }

 a {
     color: black;
 }

.footer {
    text-align: center;
}

.footer a{
     margin: 20px;
     font-size: 20px;
 }

 .page-data {
     background-color: white;
     padding: 20px;
     margin: 20px;
    }
