

body {
     font-family: Georgia;
     margin-left: 20px;
     background-image: url('https://i.postimg.cc/Fz1F290t/garage1.jpg');
     background-size: cover;
 }

 h1, h2, .footer {
     font-family: copperplate;
 }

 h1 {
     font-size: 60px;
     text-align: center;
     border: 3px solid black;
     margin-bottom: 10px;
     background-color: white;
     margin-left: 20px;
     margin-right: 20px;
     opacity: 0.8;
 }

 h2 {
     font-size: 40px;
     margin-top: 10px;
 }

 .nav {
     text-align: center;
     margin: 10px 20px;
 }

 .left-nav {
     float: left;
 }

 .right-nav {
     float: right;
 }

 table, th, td {
     border: 2px solid black;
     border-collapse: collapse;
     padding: 10px;
 }

 .nav a, input[type=submit]{
    background: black;
    border: 1px solid black;
    color: white;
    display: inline-block;
    text-decoration: none;
    padding: 14px;
    font-family: copperplate;
    font-size: 20px; 
 }

 a {
     color: black;
 }

.footer {
    text-align: center;
}

.footer a{
     margin: 20px;
     font-size: 20px;
 }

 .page-data {
     background-color: white;
     padding: 20px;
     margin-left: 20px;
     margin-right: 20px;
     margin-top: 40px;
     opacity: 0.8;
     border: 3px solid black;
    }

.welcome {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

label {
    font-weight: bold;
    text-transform: capitalize;
}

.current {
    margin-left: auto;
    margin-right: auto;
}

.center {
    text-align: center;
}

.search input[type=submit] {
    background: black;
    border: 1px solid black;
    color: white;
    display: inline-block;
    text-decoration: none;
    padding: 8px;
    font-family: copperplate;
    font-size: 20px; 
}

.error_explanation {
    color: red;
}